<% _.each(cards, function (card) { %>
  <% if(card.owner == list.id ){ %>
    <li class="ui-state-default">
        <div  class="card open-card-details" data-card-id="<%= card.id %>" data-owner="<%= card.owner %>" data-order="<%= card.n %>" data-target="#card-details" data-title="<%= card.header %>" data-toggle="modal">
          <input name="owner" type="hidden" value="<%= card.owner %>">
          <div class="card-title" data-name-by-card-id="<%= card.id %>"><%= card.header %></div>
        </div>
    </li>
  <% } %>
<% }) %>
