<div class="list-header list-header non-empty u-clearfix editable flex-title">
  <span class="list-name">
    <%= list.name %>
  </span>
  <form action="/list/destroy/<%= list.id %>" method="POST">
    <input name="_method" type="hidden" value="delete">
    <button class="close delete-list" type="submit">X</button>
    <input name="_csrf" type="hidden" value="<%= _csrf %>">
  </form>
  <i class="fa fa-arrow-circle-o-down dropdown-list list-editable-icon">
    <ul class="dropdown">
      <li class="rename-list" value="<%= list.id %>">

      <div class="card open-list-details" data-list-id="<%= list.id %>" data-owner="<%= list.owner %>" data-list-name="<%= list.name %>"
         data-target="#editListName" data-toggle="modal">
        Rename
      </div>
    </li>
  </ul>
</i>
</div>
