<div class="col-md-12 col-centered" id="lists-main-view">
    <div id="lists">
        <div data-scroll-content id="lists-content" style="white-space: nowrap;">
            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            <style>
                #sortable1, #sortable2, .list-sortable {
                    width: 100%;
                    list-style-type: none;
                    float: left;
                    margin: 0;
                    padding: 0;
                }
                #sortable1 li, #sortable2 li {

                }
                .new-card { clear: both; }
            </style>
            <script>
                $(function() {
                    $( ".list-sortable" ).sortable({
                        connectWith: ".connectedSortable"
                        /*update: function (event, ui) {
                         var data = $(this).sortable('serialize');

                         // POST to server using $.post or $.ajax
                         $.ajax({
                         data: data,
                         type: 'POST',
                         url: '/your/url/here'
                         });
                         }*/
                    }).disableSelection();
                    var lists = null;
                    var drager = null;
                    $('.list-wrapper').draggable({
                        axis: 'x',
                        start: function(event, ui) {
                            drager = $(this);
                            drager.css ({
                                'z-index': 1000
                            });
                            lists = [];
                            $('.list-wrapper').each(function(key){
                                lists[key] = $(this);
                            });
                        },
                        stop: function( event, ui ) {
                            drager.css ({
                                'z-index': ''
                            });
                            var stopLeft = drager.position().left;
                            $('.list-wrapper').each(function(key){
                                if(stopLeft >= lists[key].position().left) {
                                    drager.insertAfter(lists[parseInt(key)]);
                                }
                                if(stopLeft < 0) {
                                    drager.insertBefore(lists[parseInt(0)]);
                                }
                            });
                            drager.css ({
                                'left': 0
                            });
                            drager = null;
                        },
                        drag: function( event, ui ) {
                            if(drager.position().left < $('#lists-content').position().left){
                                drager.css ({
                                    'left': 0
                                });
                            }
                        }
                    });
                });
            </script>
            <% _.each(lists, function (list) { %>
            <div class="list list-wrapper" data-list-id="<%= list.id %>">
                <%- include edit.ejs %>
                <div id="card"  class="card-list">
                    <ul class="connectedSortable list-sortable">
                        <%- include ../card/index.ejs %>
                    </ul>
                </div>
                <%- include ../card/new.ejs %>
            </div>
            <%- include renameModal.ejs %>
            <% }) %>
            <%- include ../card/show.ejs %>
            <%- include new.ejs %>
        </div>
    </div>
</div >
