<div class="col-md-12 col-centered" id="lists-main-view">
  <div id="lists">
    <div data-scroll-content id="lists-content" style="white-space: nowrap;">
      <% _.each(lists, function (list) { %>
        <div class="list list-wrapper" data-list-id="<%= list.id %>">
          <%- include edit.ejs %>
          <div id="card"  class="card-list">
            <%- include ../card/index.ejs %>
          </div>
          <%- include ../card/new.ejs %>
        </div>

        <%- include renameModal.ejs %>
      <% }) %>
      <%- include new.ejs %>
    </div>
  </div>
</div >
